import chalk from 'chalk';

export function hello(name = 'world') {
  console.log(chalk.blue(`Hello, ${name}!`));
  console.log(chalk.green('🚀 {{title}}'));
  console.log(chalk.white('{{description}}'));
  
  if (!name || name === 'world') {
    console.log(chalk.yellow('Tip: Try running with --name option to personalize the greeting.'));
  }
}